<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Username's Profile</title>
</head>
<body>
	<h1>Welcome to {{username}}'s page</h1>
	<div class="biography">
		
	</div>
	<div class="shortbio">
		<textarea rows="4" cols="5"></textarea>
	</div>
	<table>
		<thead>
			<th colspan="6">Details</th>
			<tr>
			<td>Food Name</td>	
			<td>Organic</td>	
			<td>Natural</td>	
			<td>Non-GMO verfied</td>	
			<td>Volume</td>	
			<td>Remove</td>	
			</tr>
		</thead>
		<tbody>
				<tr>
				<td>Food Name</td>	
				<td>Organic</td>	
				<td>Natural</td>	
				<td>Non-GMO verfied</td>	
				<td>Volume</td>	
				<td>Remove</td>	
				</tr>
			</tr>
		</tbody>
	</table>
</body>
</html>