<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'farmfood/css/stylesheet.css' %}">
	<title>Welcome to Farmers to Foodies!</title>
</head>
<body>
	<div class="navigation">
		<ul>
			<li>Login</li>
			<li>Register</li>
		</ul>
	</div>
	<div class="center">
	<h1>Welcome, name!</h1> 
		<input type="text" name="search" placeholder="Enter an address, neighborhood, city, or zip"><input type="submit" name="submit"></div>
	</div>
	<div class="picture">
		Picture
	</div>
	<div class="biography">
		Biography
	</div>
	<div class="events">
		
	</div>
</body>
</html>