<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Farmers to Foodies!</title>
</head>
<body>
	<div class="Header">
		<h1>Welcome to Farmers to Foodies!</h1>
	</div>

	<div class="Farmer">
		<a href="" name="farmer">Are You a Farmer?</a>
	</div>

		
	<div class="Foodie">
		<a href="" name="foodie">Are You a Foodie?</a>		
	</div>

	<div class="Contact_Us">
		<a href="" name="support">Support</a>
		<a href="" name="contact">Contact Us</a>
		<a href="" name="education">Education</a>
	</div>
</body>
</html>