<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Foodies to Farmers!</title>
</head>
<body>
	<div class="enter_site">
		<p>Are you a farmer?</p>
		<a href="farmfood/login" name="login">Login</a>
		<a href="farmfood/login" name="register">Register</a>
	</div>

	<div class="header">
		<h1>Welcome to Farmers to Foodies!</h1>
		<h3>Some text about our project and why you should poke around on our site</h3>
		<h2>List of farms sorted by region:</h2>
	</div>

	<div class="north">
		<h3>King County:</h3>
		{% for farm in farms %}
			<a href="farmfood/{farm_id}" name="king_county">{{farms.farm.name}}</a>
		{% endfor %}
	</div>





</body>
</html>